<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home View</title>
</head>
<body>
   <p>
        Welcome To The Restful Api 
    </p>
    <h2>Build With Node , Express , Mongodb</h2>
      <p>Want to see all contacts head to </p>
      <h4><a href="/contacts">MyContacts</a></h4>
</body>
</html>